:root {
    color: Raisinblack #242325;
    color: Scaret #F42C04;
}

/* GENERAL */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: F5F5F5; 
}

/* Header Estilos */
header {
    display: flex;
    flex: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* Polaroid LOGO */
header img {
    padding-left: 20px;
    padding-top: 5px;
    height: 15vh;
    padding-left: 35px;
}

/* links del header */
.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    font-family: 'Martel sans', sans-serif;
    font-size: 15px;
    text-align: center;
    align-items: center;
    color: #3C3C3C;
    margin: 0 22px; 
}

/* Iconos header */

.iconos-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;

}

#ico-login {
    height: 35px;
    padding: 10px;
    margin: 5px;
}

#ico-fav {
    height: 35px;
    padding: 10px;
    margin: 5px;
}

#ico-shop {
    height: 35px;
    padding: 10px;
    margin: 5px;
}
/* ------------------------------------------------- */

/* Homepage - PADRE */
.flex-layout {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    /* background-color: aqua; */
}


/* Hero */

.Hero-section {
    display: flex;
    height: 25rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    margin: 0 auto;
    /* background-color: rgb(255, 102, 135); */
}

.hero-title {
    margin-left: 2rem;
    height: 275px;
    width: 275px;
    max-width: none;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
}

.hero-title p{
    font-size: 5rem;
    font-weight: 800;
    font-family: "martel sans";
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(57, 57, 57);
}

.hero-img {
    z-index: -1;
    height: 25rem;
    width: 100%;
    background-image: url(./Assets/Banner/Banner-bg-3.jpg);
    background-size: cover;
    background-position-y: 15%;
}


/* Filter - Gral */

.filter {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 9rem;
    width: 65rem;
    margin: 0 auto;
}

/* Filter Tune */

.filter-boxes {
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 8rem;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.filter-boxes img {
    height: 6rem;
    width: 4rem;
}

.filter-boxes p {
    font-size: 15px;
    font-weight: 500;
    font-family: "fira sans";
}


/* BOXES-SHOP */

.boxes-shop {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* background-color: coral; */
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
    height: 480px;
}

.caja-shop {
    margin: 10px;
    width: 300px;
    height: 450px;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
}

.box-shop-imagen {
    width: 300px;
    height: 380px;
    background-color: yellow;
    border-radius: 10px 10px 0px 0px;
}

/* Box Reviews Titles */

.box-reviews-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 4rem;
    width: 100%;
    background-color: #242325;
}

.box-reviews-title h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: "Martel sans";
    color: #F5F5F5;
}

/*  BOX REVIEWS GRAL */

.box-reviews {
    /* background-color: rgb(255, 157, 157); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Boxes de Reviews */

.review_1 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    height: 16rem;
    margin-left: 1rem;
}

.review_1 img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}

.review_1 h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    font-family: "martel sans";
}

.review_1 p {
    font-family: "fira sans";
    text-align: center;
}

/* Contacto */

.box-contacto-gral {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #5296A5;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    color: #F5F5F5;
}

.boxes-contacto {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 300px;
    align-content: center;
}

/* Contacto P */

.boxes-contacto p {
    font-size: 25px;
    font-family: "fira sans";
    font-weight: 500;
    text-align: center;
}

/* Contacto - name */
.box-name {
    padding: 10px;
    text-align: left;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-left: 2rem;
    color: #F5F5F5;
}

.box-name label {
    font-family: "martel sans";
    font-size: 15px;
}

.box-name input {
    border-radius: 5px;
    height: 25px;
    width: 100%;
    text-align: left;
    align-content: center;
}

/* Contacto email*/

.box-email {
    padding: 10px;
    text-align: left;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-left: 2rem;
    color: #F5F5F5;
}

.box-email label {
    font-family: "martel sans";
    font-size: 15px;
}

.box-email input {
    border-radius: 5px;
    height: 25px;
    width: 100%;
    text-align: left;
    align-content: center;
}

/* Contacto telefono */

.box-phone {
    padding: 10px;
    text-align: left;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-left: 2rem;
    color: #F5F5F5;
}

.box-phone label {
    font-family: "martel sans";
    font-size: 15px;
}

.box-phone input {
    border-radius: 5px;
    height: 25px;
    width: 100%;
    text-align: left;
    align-content: center;
}

/* Contacto Mensaje*/

.box-mensaje {
    padding: 10px;
    text-align: left;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-left: 2rem;
}

.box-mensaje label {
    font-family: "martel sans";
    font-size: 15px;
    color: #F5F5F5;
}

.box-mensaje input {
    border-radius: 5px;
    height: 60px;
    width: 100%;
    text-align: left;
}


/* Google maps */

.mapouter {
    display: flex;
    align-items: center;
}

.gmap_canvas iframe {
    border-radius: 20px;
}

.review_place {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    text-align: left;
    justify-content: center;
    border-radius: 5%;
    padding: 1rem;

}

.review_place h1 {
    font-family: "martel sans";
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.review_place p {
    font-weight: 400;
    font-family: "fira sans";
    text-align: center;
    color: #F5F5F5;
}


/* Footer */

.logo-boxes {
    display: flex;
    background-color: rgb(148, 148, 148);
    height: 200px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.box-logo-1 {
    height: 80px;
    width: 200px;
    background-color: deeppink;
}

.box-logo-2 {
    height: 80px;
    width: 200px;
    background-color: rgb(122, 28, 78);
}

.box-logo-3 {
    height: 80px;
    width: 200px;
    background-color: rgb(122, 28, 78);
}

.box-logo-4 {
    height: 80px;
    width: 200px;
    background-color: rgb(122, 28, 78);
}